include pug/mixins.pug

doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        include pug/head.pug
    body
        header 
            .container 
                img(src="assets/presentation/images/logo.png", alt="")
                a.btn принять участие
        section.description 
            .container 
                h2 ПЕРВЫЙ ФЕДЕРАЛЬНЫЙ ЧЕМПИОНАТ <br> ПО ПРЕДПРИНИМАТЕЛЬСКОМУ МЫШЛЕНИЮ,<br> ИНВЕСТИРОВАНИЮ И ФИНАНСОВОЙ ГРАМОТНОСТИ
                h1 деньги 1.0 
                    span партнерство года
                a.btn принять участие
            img(src="assets/presentation/images/money.png", alt="")
        section.statistics 
            .container 
                h2 деньги 1.0 
                h4 Первый федеральный чемпионат по предпринимательскому мышлению, инвестированию и финансовой грамотности 2022
                .cards
                    .card 
                        h3 85
                        p регионов
                    .card 
                        h3 >1 млн.
                        p участников<br>в возрасте 18+
                    .card 
                        h3 >100 млн.
                        p информационный<br>охват
                    .card 
                        h3 >300 млн.
                        p общий призовой фонд
                    .card 
                        h3 50+
                        p федеральные и<br>региональные сми,<br>тв, радио
        section.prizes 
            .container 
                h2 призы
            .main-prize 
                .container 
                    h3 главный приз - 1 000 000$
                    p (в рублях по курсу на день победы)
            .container 
                .prizes-lists
                    .prizes-list 
                        h3 среди призов:
                        ul 
                            li 4 комнатная квартира в Москве
                            li 3 комнатная квартира в Москве
                            li 2 комнатная квартира в Москве
                            li 1 комнатная квартира в Москве
                            li Автомобиль люкс класса за 6 млн.
                            li Автомобиль люкс класса за 4 млн.
                            li Автомобиль люкс класса за 2 млн.
                            li Путевка на двоих - all inclusive (Мальдивы)
                            li Путевка на двоих - all inclusive (ОАЭ)
                            li Путевка на двоих - all inclusive (Турция)
                    .prizes-list 
                        h3 а так же денедные призы:
                        ul 
                            li 1 000 000 рублей
                            li 900 000 рублей
                            li 800 000 рублей
                            li 700 000 рублей
                            li 600 000 рублей
                            li 500 000 рублей
                            li 400 000 рублей
                            li 300 000 рублей
                            li 200 000 рублей
                            li 100 000 рублей
                h3.sponsors дополнительно: призы от спонсоров
        section.stages 
            .container 
                h2 этапы чемпионата
                p.descr Чемпионат - серия настольных<br>online | offline трансформационных игр<br>под управлением профессионального<br>ведущего
                .ladder 
                    img(src="assets/presentation/images/ladder.png", alt="")
                    .stage.super-final
                        img.mobile(src="assets/presentation/images/stagesBlue.png", alt="")
                        h3 Супер-финал
                        p Проводится offline в Москве
                    .stage.region-final 
                        img.mobile(src="assets/presentation/images/stages.png", alt="")
                        h3 Региональные финалы
                        p Проходной балл - 1200. Проводится офлайн. Условия игры более высокого уровня сложности
                    .stage.qualification
                        img.mobile(src="assets/presentation/images/stages.png", alt="")
                        h3 Квалификационные игры
                        p Игры, проходят в рамках чемпионата, жесткий тайминг и правила.
                    .stage.training
                        img.mobile(src="assets/presentation/images/stages.png", alt="")
                        h3 Тренировочные игры
                        p Вне чемпионата. Адаптация к правилам и тестирование интерфейса
        section.diving 
            .container 
                h3 в основе чемпионата единственная в рублевой зоне
                h2 трансформационная игра
                h2.money "деньги"
                .descr 
                    h3 Полное погружение:
                    p торгуйте акциями, валютой и недвижимостью
                    p инвестируйте в реальные бизнесы, существующие в России
                    p экспериментируйте со всеми финансовыми инструментами без необоснованных рисков
                .points 
                    .point 
                        h3 3
                        p Прокачайте знания в экономике и инвестициях, сформируйте мышление инвестора
                    .point 
                        h3 2
                        p Сломайте стереотипы и научитесь думать и вести переговоры как предприниматель
                    .point 
                        h3 1
                        p Освойте базовую финансовую грамотность
        section.why-playing 
            .container 
                h2 зачем играют
                h3 в "деньги"?
                .who 
                    .block 
                        h4 опытные бизнесмены
                        p играют с конкретным бизнес-запросом, анализируют и ищут решения по бизнесу, чтобы масштабировать успех быстрее

                    .block 
                        h4 амбициозные
                        p играют, чтобы получить признание, заявить и укрепить личный бренд, повысить медийность
                    .block 
                        h4 молодые предприниматели
                        p играют, чтобы испытать себя и не упустить возможность получить стартовый капитал

                    .block 
                        h4 дальновидные
                        p используют как симулятор инвестора, чтобы прокачать свои навыки и стратегии по сохранению и преумножению капитала
                    .block 
                        h4 топ-менеджеры среднего и высшего звена
                        p играют, чтобы участвовать в самом качественном и большом нетворкинге России

                    .block 
                        h4 консервативные
                        p играют, чтобы без рисков создавать и сохранять финансовую подушку безопасности
                    .block 
                        h4 выпускники и студенты бизнес-школ и вузов
                        p играют, чтобы закрепить и проверить полученные знания, получить преимущество для работодателей
                    .block 
                        h4 молодые и дерзкие
                        p играют, чтобы не упустить МЕГА ШАНС стать долларовым миллионером, обладая только головой и харизмой
        section.participants
            .container 
                h2 участники чемпионата
                h3 более 1 000 000 участников из 85 регионов россии в возрасте 18+
                .cards
                    .card 
                        img(src="assets/presentation/images/investors.jpg", alt="")
                        h4 инвесторы и предприниматели
                    .card 
                        img(src="assets/presentation/images/topManagers.jpg", alt="")
                        h4 топ-менеджеры
                    .card 
                        img(src="assets/presentation/images/brokers.jpg", alt="")
                        h4 финансовые консультанты и брокеры
                    .card 
                        img(src="assets/presentation/images/women.jpg", alt="")
                        h4 женщины стремящиеся к финансовой независимости
                    .card 
                        img(src="assets/presentation/images/students.jpg", alt="")
                        h4 студенты финансовых и экономических вузов
        section.together
            .container 
                h2 вместе с нами ты:
                ul 
                    li изменишь свою жизнь на 180
                    li изменишь будущее для более 1 000 000 человек
                    li создашь историю,<br>о которой будут снимать фильмы
                    li сделаешь самую выгодную<br>инвестицию в жизни!!
                    li получишь шанс прожить незаурядную жизнь!
        section.region-agent 
            .container 
                h2 стань эксклюзивным региональным представителем
                .stats 
                    .num 
                        p только
                        h3 93
                    p.descr Лидера смогут проводить офлайн-игры и использовать все возможности чемпионата в своем регионе
                .regions 
                    p Москва<br>7 чел.
                    p Санкт-петербург<br>3 чел.
                    p Остальные регионы<br>1 чел.
        section.opportunities 
            .brand
                img(src="assets/presentation/images/brand.jpg", alt="")
                .descr
                    h3 возможность #1
                    h2 личный<br>бренд
                    p самый быстрый<br>и надежный путь к сильному<br>личному бренду в сфере<br>финансового консультирования в<br>вашем регионе и<br>в россии
                    p.caption системная поддержка<br>по созданию личного бренда<br>от стратегии до реализации
            .networking
                .descr
                    h3 возможность #2
                    h2 лучший<br>нетворкинг
                    p постоянный доступ к<br>качественному нетворкингу с<br>самыми целеустремленными и<br>успешными людьми<br>вашего региона и<br>россии
                .image
                    img(src="assets/presentation/images/networking.jpg", alt="")
                    p.caption качественные люди<br>качественный формат<br>для сближающего общения
        section.scaling 
            .container 
                .left 
                    p.caption инвесторы вашего региона и россии
                    img(src="assets/presentation/images/investorsScaling.jpg", alt="")
                .right 
                    h3 возможность #3
                    h2 масштабирование вашего успеха
                    p участие в проекте - самый быстрый доступ ко всем необходимым инструментам для развития ваших текущих проектов и созданию новых
                    .image 
                        p.caption партнеры и лидеры для ваших проектов
                        img(src="assets/presentation/images/liders.jpg", alt="")
        section.income 
            .container 
                .descr 
                    h3 возможность #4
                    h2 доход от проведения игр
                    p при правильной организации игр
                .invest 
                    p от
                    h2 3
                    div 
                        h3 х
                        p возврат инвестиций
        section.deligate 
            .container
                h2 хотим видеть среди эксклюзивных представителей
                ul 
                    li Игроков - практиков настольных игр по финансовой стратегии
                    li финансовых консультантов
                    li топ-менеджеров<br>финансовых структур
                    li основателей бизнес-клубов
                    li предпринимателей
        section.more 
            .text 
                h3 хотите узнать подробнее?
                h2 приглашаем на закрытую онлайн | офлайн игру
            .container 
                h2 заполни заявку
                img(src="assets/presentation/images/arrow.jpg", alt="")
                .qr 
                    img(src="assets/presentation/images/qr.jpg", alt="")
                    a(href="http://game-money.club/") http://game-money.club/

        include pug/scripts.pug